/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


ion-item {
  --inner-border-width: 0;
  --border-width: 0;
  --padding-start	: 0;
  --inner-padding-end	: 0;
}

ion-input{
  --background: #e4e2e2 !important;
  --placeholder-opacity: 0.5 !important;
  --padding-start: 10px !important;
  --border-radius: 5px !important
}

ion-textarea{
  --background: #e4e2e2 !important;
  --placeholder-opacity: 0.5 !important;
  --padding-start: 10px !important;
  --border-radius: 5px !important
}

body.dark {
  ion-input {
    --background: #8b8989 !important;
    --placeholder-opacity: 0.5 !important;
    --padding-start: 10px !important;
    --border-radius: 5px !important
  }

  ion-textarea{
    --background: #8b8989 !important;
    --placeholder-opacity: 0.5 !important;
    --padding-start: 10px !important;
    --border-radius: 5px !important
  }
}

.form-item{
  min-height: 85px;
}


ion-button{
  --border-radius: 5px;
}

.card-content-ios {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

/* Tab bar */

ion-tab-bar {
  position: relative;
  border-radius: 25px;
  bottom: 20px;
  width: 90%;
  margin: 5px auto;
  padding: 5px;
  box-shadow: var(--fv-box-shadow);
  --border: none !important;
}

body.dark {
  ion-tab-bar {
    --background: var(--fv-tab-bar-background);
  }
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
  background: transparent !important;

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 50px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: var(--ion-color-primary);
  }
}

/* Tab bar End */

/* Footer */

ion-footer {
  ion-toolbar {
    --background: transparent;
    --border-width: 0px 0 0 !important;
  }
}

/* Footer End */

/* FAB button */

body.dark {
  .custom-background {
    --background: var(--fv-glass-background);
  }
}

ion-fab{
  padding-bottom: 15px;
}

/* FAB button End */